[package]
name = "ferinth"
# The major version specifies which version of the Modrinth API this supports
version = "2.9.2"
edition = "2021"
authors = ["Ilesh Thiada (theRookieCoder) <ileshkt@gmail.com>", "4JX"]
description = "A simple Rust wrapper for the official Modrinth API"
repository = "https://github.com/gorilla-devs/ferinth"
license = "MIT"
publish = ["crates-io"]
keywords = ["modrinth", "minecraft", "modding"]
categories = ["api-bindings"]

[dependencies]
reqwest = { version = "0.11", default-features = false, features = [
    "json",
    "rustls-tls",
] }
chrono = { version = "0.4", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
url = { version = "2.4", features = ["serde"] }
async-trait = "0.1"
lazy-regex = "3.0"
serde_json = "1.0"
once_cell = "1.18"
thiserror = "1.0"

[dev-dependencies]
tokio = { version = "1.29", features = ["rt-multi-thread", "macros"] }
